<?php
/**
 * @Author: {{author}}
 * @Date:   {{create_time}}
 * @Last Modified by:   {{last_modified_by}}
 * @Last Modified time: {{last_modified_time}}
 */
?>
<?php
    $type=isset($_REQUEST['type'])?intval($_REQUEST['type']):0;
?>
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="author,email,address">
	    <link rel="stylesheet" href="">
    </head>
    <body>
    </body>
    <script></script>
</html>
